@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import url("https://use.fontawesome.com/releases/v5.0.7/css/all.css");

@import "./css/generals/variables.css";
@import "./css/generals/typography.css";
@import "./css/generals/grid.css";

@import "./css/components/buttons.css";
@import "./css/components/carousel.css";
@import "./css/components/cards.css";
@import "./css/components/navbar.css";
@import "./css/components/cta.css";
@import "./css/components/footer.css";

/*GENERAL RESET*/
html {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: #efefef;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.d-none {
  display: none;
}

.nav-link,
.carousel-heading,
.section-heading,
.cards .card-heading,
.services-list li,
.footer-content .card-heading,
.development-link,
blockquote.card p:first-child {
  text-transform: uppercase;
}

.site-header,
.main-nav,
.main-footer {
  background: var(--head-foot-color);
}

.hero-container,
.hero-section {
  min-height: 80vh;
  background: #404040;
}

.hero-container ~ .section-detail {
  height: 1em;
}

.section-detail {
  background-repeat: repeat-x;
  background: url("./pictures/drawing.svg") center center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.section-heading {
  font-size: 1.1em;
  background: var(--body-bg-color);
  color: var(--cards-text-color);
  font-weight: normal;
  margin-bottom: 0;
  padding: 0 1.5em;
}

.recent-work,
.services {
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}

.recent-work .section-detail,
.services .section-details {
  margin-bottom: 3em;
}

.services-wrapper,
.services-list,
.services-list li,
.testimonials-wrapper,
.development-wrapper,
.development-list,
.design-content,
.production-content {
  display: flex;
}

.services-list,
.design-content,
.production-content,
.development-wrapper {
  flex-direction: column;
}

.services-wrapper,
.quote,
.testimonials-wrapper,
.development-wrapper {
  padding: 2.5em 0;
}

.quote {
  align-self: flex-start;
}
.services-list {
  flex-basis: 33%;
  justify-content: space-between;
}

.services-list li {
  flex-grow: 1;
  align-items: stretch;
}
.services-list li a {
  flex-grow: 1;
  align-self: center;
  font-weight: bold;
  color: #444;
  padding: 1em 0 1em 1.75em;
}

.services-list li a:hover {
  background-image: linear-gradient(to bottom, #fff, #ddd);
}

.services-list li a.active {
  background: #444444;
  color: #fff;
  position: relative;
}

.services-list li a.active::after {
  display: block;
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0.5em;
  right: -1.2em;
  background: rgb(255, 255, 255, 0);
  border-top: 2.5em solid #444444;
  border-left: 2.5em solid transparent;
  transform: rotate(45deg);
}

.service-description-container {
  flex-basis: 66%;
  border-left: 1px solid rgba(184, 184, 184, 0.9);
  padding: 1em 0 1em 2.5em;
  box-shadow: -10px 1px 10px -10px rgba(184, 184, 184, 0.75);
}

.service-description-container .button-blue {
  margin-top: 3em;
}

.testimonials-wrapper {
  flex-wrap: wrap;
}

.development {
  height: 100%;
}

.development-list {
  align-items: center;
}

.development-link {
  display: block;
  padding: 0.8em 1.75em;
  color: #444;
  background-image: linear-gradient(to bottom, #fff, #ddd);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
}

.development-link:hover,
.development-link:focus {
  background: #fff;
  outline: none;
}
.development-link.active {
  background: #fff;
  font-weight: bold;
}

#development-content {
  flex-grow: 1;
  background: #fff;
  padding: 2em;
  height: 100%;
  position: relative;
  z-index: 2;
  box-shadow: 0 0 3px -2px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 750px) {
  .recent-work {
    padding: 1em 0;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 450px) {
  .hero-container,
  .hero-section {
    min-height: 70vh;
  }
  .testimonials-wrapper {
    padding: 1em 0;
  }

  .development-wrapper {
    padding: 1em 0;
  }
}
