.carousel {
  height: 60vh;
  position: relative;
  align-self: center;
}

.carousel-track-container {
  width: 100%;
  height: 95%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  height: 100%;
  position: relative;
  transition: transform 250ms ease-in;
}

.carousel-item {
  display: flex;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.carousel-item-image,
.carousel-item-content {
  flex-basis: 50%;
  color: var(--footer-text-color);
}

.carousel-item-image {
  padding: 0 3em;
  overflow: hidden;
  position: relative;
}

.carousel-item-image::before {
  display: block;
  content: "";
  padding-top: 56%;
}

.carousel-item-image img {
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-item-content {
  padding-left: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-wrapper .button {
  margin-right: 1em;
}
.carousel-button-detail {
  flex-grow: 1;
  height: 1em;
  background-repeat: repeat-x;
  background: url("../../pictures/drawing.svg") center center;
}

.carousel-heading,
.carousel-text {
  font-weight: normal;
  width: 70%;
}

.carousel-heading-detail {
  font-weight: bold;
  color: #ffffff;
  font-style: italic;
  margin-right: 0.25em;
}

.carousel-button {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: var(--link-hover-color);
  border: 0;
  outline: none;
  cursor: pointer;
}

.carousel-button:before {
  display: inline-block;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 3.5em;
  position: absolute;
}

.carousel-button-left::before {
  content: "\f053";
  left: -0.5em;
}

.carousel-button-right:before {
  content: "\f054";
  right: -0.5em;
}

.carousel-nav {
  display: flex;
  justify-content: flex-end;
  padding: 1em 0;
}

.carousel-indicator {
  width: 0.75em;
  height: 0.75em;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
  border: 0;
  outline: none;
  border-radius: 50%;
  margin: 0 0.25em;
  cursor: pointer;
}

.carousel-indicator.current-slide {
  background: rgba(223, 223, 223, 0.8);
}

@media screen and (max-width: 1600px) {
  .carousel-button-left::before {
    left: -1em;
  }

  .carousel-button-right:before {
    right: -1em;
  }
}

@media screen and (max-width: 750px) {
  .carousel-item {
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
  }

  .carousel-item-content {
    padding-left: 0;
    padding-top: 2em;
    align-items: center;
    text-align: center;
  }

  .button-wrapper .button {
    margin-right: 0;
  }

  .carousel-button-detail {
    display: none;
  }

  .carousel-nav {
    justify-content: center;
  }
}

@media screen and (max-width: 450px) {
  .carousel-item-image img {
    width: 100%;
    height: auto;
  }

  .carousel-item-content {
    padding-top: 0;
  }

  .carousel-heading,
  .carousel-text {
    width: 90%;
  }
}
